<h1>Here are all your recipes!</h1>
<h4><%= link_to "Create a new recipe", "/recipes/new" %></h4>

<% @recipes.each do |recipe| %>
  <h4>Title: <%= link_to recipe.title, "/recipes/#{recipe.id}" %></h4>
  <h5>Chef: <%= recipe.chef %></h5>
<% end %>
